<div class="app-events">
  <div *ngIf="!isTeamMember && !isTeamAdmin; else hasTeams">{{'ERRORS.NO_TEAMS_FOR_USER' | translate}}</div>
  <ng-template #hasTeams>
    <div *ngIf="isPastEvents" class="app-events__back" (click)="displayFutureEvents()">
      <mat-icon color="primary">chevron_left</mat-icon>
      {{'BACK'| translate}}
    </div>
    <div class="app-events__header">
      <h3 class="app-events__header__title">
        <span class="app-events__header__title__text">{{ (isPastEvents ? 'EVENT.PAST_EVENTS' : 'EVENT.EVENTS') | translate}}
          <span *ngIf="eventsDataSource"> ({{eventsDataSource.data.length}})</span>
        </span>
        <ng-container *ngIf="!isPastEvents">
          <mat-icon class="app-events__action" (click)="displayPastEvents()" color="primary">history</mat-icon>
          <button mat-mini-fab *ngIf="isTeamAdmin" color="primary" class="app-events__action app-events__add" routerLink="new">
            <mat-icon>add</mat-icon>
          </button>
        </ng-container>
      </h3>
      <div class="app-events__header__team-selector">
        <mat-form-field>
          <mat-select [(value)]="selectedTeamId" (selectionChange)="changeSelectedTeam()">
            <mat-option *ngFor="let team of userTeams" [value]="team.teamId">
              {{ team.teamName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="app-events__container">
      <mat-table class="app-events__container__table" [dataSource]="eventsDataSource" matSort>
        <ng-container matColumnDef="toggeler">
          <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.OUT' | translate}}
            <mat-slide-toggle color="primary" disabled> </mat-slide-toggle> {{'EVENT.IN' | translate}}
          </mat-header-cell>
          <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row">
            <mat-slide-toggle color="primary" #participationToggeler (change)="toggleParticipationInEvent($event.checked, row.id, participationToggeler)"
              [disabled]="isPastEvents || row.isPastEvent || (row.myParticipation && row.myParticipation.action === 'cancel' && (row.maxCriticalValue || row.maxCriticalValue == 0)&& row.numOfParticipations >= row.maxCriticalValue)"
              [checked]="row.myParticipation && row.myParticipation.action !== 'cancel'">
            </mat-slide-toggle>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="date">
          <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header>
            {{'EVENT.DATE' | translate}} </mat-header-cell>
          <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row"> {{row.date}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="time">
          <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.TIME' | translate}} </mat-header-cell>
          <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row"> {{row.startTime | stringNormalizer:timeFormat}} - {{row.endTime | stringNormalizer:timeFormat }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="event">
          <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.EVENT' | translate}}
          </mat-header-cell>
          <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row">
            <span class="app-events__container__table__content-cell"> {{row.eventName}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell class="app-events__container__table__header-cell app-events__event__members" *matHeaderCellDef mat-sort-header>
            {{'EVENT.PARTICIPATION_STATUS' | translate}} </mat-header-cell>
          <mat-cell class="app-events__container__table__content-cell app-events__event__members" *matCellDef="let row">
            <ng-template #success>
              <mat-icon class="app-events__event__success">check_circle</mat-icon>
            </ng-template>
            <span class="app-events__event__members__actual"> {{row.numOfParticipations}} </span>
            (
            <span *ngIf="row.minCriticalValue || row.minCriticalValue === 0">
              {{'EVENT.MIN' | translate}}: {{row.minCriticalValue}}
            </span>
            <span *ngIf="(row.minCriticalValue || row.minCriticalValue === 0 ) && (row.maxCriticalValue || row.maxCriticalValue === 0 )"
              class="app-events__event__members__seperator"> , </span>
            <span *ngIf="row.maxCriticalValue || row.maxCriticalValue === 0"> {{'EVENT.MAX' | translate}} : {{row.maxCriticalValue}}
            </span> )
            <mat-icon class="app-events__event__error" *ngIf="((row.minCriticalValue || row.minCriticalValue === 0 ) && row.minCriticalValue > row.numOfParticipations) ||
              ((row.maxCriticalValue || row.maxCriticalValue === 0 ) && row.maxCriticalValue < row.numOfParticipations); else success">error</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="admin-actions">
          <mat-header-cell class="app-events__container__table__header-cell app-events__container__table__admin-actions" *matHeaderCellDef
            mat-sort-header> </mat-header-cell>
          <mat-cell class="app-events__container__table__content-cell app-events__container__table__admin-actions" *matCellDef="let row">
            <mat-icon class="app-events__action" [routerLink]="row.id" color="primary">edit</mat-icon>
            <mat-icon class="app-events__action" (click)="deleteEvent(row.id)" color="primary">delete</mat-icon>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="user-action">
          <mat-header-cell class="app-events__container__table__header-cell app-events__container__table__user-action" *matHeaderCellDef
            mat-sort-header> </mat-header-cell>
          <mat-cell class="app-events__container__table__content-cell  app-events__container__table__user-action" *matCellDef="let row">
            <mat-icon class="app-events__action" routerLink="details/{{row.id}}" color="primary">info_circle</mat-icon>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsToDisplay"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsToDisplay;">
        </mat-row>
      </mat-table>
      <mat-accordion class="app-events__container__accordion">
        <mat-expansion-panel *ngFor="let event of eventsDataSource?.data" class="app-events__container__accordion__expandable-item">
          <mat-expansion-panel-header>
            <mat-panel-title class="app-events__container__accordion__expandable-event__title">
              <mat-slide-toggle *ngIf="isTeamMember" color="primary" #participationToggeler (change)="toggleParticipationInEvent($event.checked, event.id, participationToggeler)"
                (click)="preventTriggeringAccordion($event)" [disabled]="isPastEvents || (event.myParticipation && event.myParticipation.action === 'cancel' && (event.maxCriticalValue || event.maxCriticalValue == 0) && event.numOfParticipations >= event.maxCriticalValue)"
                [checked]="event.myParticipation && event.myParticipation.action !== 'cancel'">
              </mat-slide-toggle>
              <span class="app-events__container__accordion__expandable-event__title__event-name"> {{event.eventName}} </span>
            </mat-panel-title>
            <mat-panel-description>
              <span>{{event.date}}</span>
              <mat-icon class="app-events__event__error" *ngIf="((event.minCriticalValue || event.minCriticalValue === 0) && event.minCriticalValue > event.numOfParticipations) ||
              ((event.maxCriticalValue || event.maxCriticalValue === 0 ) && event.maxCriticalValue < event.numOfParticipations); else success">error</mat-icon>
              <ng-template #success>
                <mat-icon class="app-events__event__success">check_circle</mat-icon>
              </ng-template>
              <!-- {{'EVENT.STATUS' | translate}}:
              <mat-icon>insert_chart</mat-icon>
            {{event.numOfParticipations}} / {{event.detailedParticipations.length}} -->
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-card-content>
            <div class="app-events__container__accordion__expandable-event__expanded-content">
              <div class="app-events__container__accordion__expandable-event__expanded-content__times">
                <mat-icon color="primary">alarm</mat-icon>
                {{event.startTime | stringNormalizer:timeFormat }} - {{event.endTime | stringNormalizer:timeFormat }}</div>
              <div class="app-events__event__members">
                <ng-template #success>
                  <mat-icon class="app-events__event__success">check_circle</mat-icon>
                </ng-template>
                <span class="app-events__event__members__actual"> {{event.numOfParticipations}} </span>
                (
                <span *ngIf="(event.minCriticalValue || event.minCriticalValue === 0)">
                  {{'EVENT.MIN' | translate}}: {{event.minCriticalValue}}
                </span>
                <span *ngIf="(event.minCriticalValue || event.minCriticalValue === 0) && (event.maxCriticalValue || event.maxCriticalValue === 0) "
                  class="app-events__event__members__seperator"> , </span>
                <span *ngIf="(event.maxCriticalValue || event.maxCriticalValue === 0) "> {{'EVENT.MAX' | translate}} : {{event.maxCriticalValue}}
                </span> )
              </div>
            </div>
            <mat-divider class="app-events__container__accordion__expandable-event__divider"></mat-divider>
            <div class="app-events__container__accordion__expandable-event__expanded-content__actions">
              <div *ngIf="isTeamAdmin">
                <button [routerLink]="event.id" mat-raised-button color="primary" class="app-events__container__accordion__expandable-event__edit-button">{{ 'EDIT' | translate }}</button>
                <button (click)="deleteEvent(event.id)" mat-raised-button class="app-events__container__accordion__expandable-event__delete-button">{{ 'DELETE' | translate }}</button>
              </div>
              <button mat-raised-button routerLink="details/{{event.id}}">{{ 'DETAILS' | translate }}</button>
            </div>
          </mat-card-content>
        </mat-expansion-panel>
      </mat-accordion>
      <mat-spinner class="app-events__container__spinner" *ngIf="spinner"></mat-spinner>
    </div>
  </ng-template>
</div>
