<div class="app-events">
  <div *ngIf="isPastEvents" class="app-events__back" (click)="updateEvents(false)">
    <mat-icon color="primary">chevron_left</mat-icon>
    {{'BACK'| translate}}
  </div>
  <div class="app-events__header">
    <h3 class="app-events__header__title">
      <span class="app-events__header__title__text">{{ (isPastEvents ? 'EVENT.PAST_EVENTS' : 'EVENT.EVENTS') | translate}}</span>
      <mat-icon *ngIf="!isPastEvents" class="app-events__action" (click)="updateEvents(true)" color="primary">history</mat-icon>
      <button mat-mini-fab *ngIf="displayAdminActions" color="primary" class="app-events__action app-events__add" routerLink="new">
        + </button>
    </h3>
    <div>
      <mat-form-field>
        <mat-select [(value)]="selectedTeam" (change)="changeSelectedTeam()">
          <mat-option *ngFor="let team of userTeams" [value]="team">
            {{ team.teamName }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field class="app-events__filter">
    <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterString" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}">
  </mat-form-field>
  <!-- <mat-icon *ngIf="displayAdminActions" class="app-events__action" routerLink="new" color="primary">add</mat-icon> -->
  <div class="app-events__container">
    <mat-table class="app-events__container__table" [dataSource]="eventsDataSource" matSort>
      <ng-container matColumnDef="id">
        <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.OUT' | translate}}
          <mat-slide-toggle color="primary" disabled> </mat-slide-toggle> {{'EVENT.IN' | translate}}
        </mat-header-cell>
        <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row">
          <mat-slide-toggle color="primary" (change)="toogleParticipationInEvent($event.checked, row.id)" [disabled]="isPastEvents"
            [checked]="row.myParticipation && row.myParticipation.action !== 'cancel'">
          </mat-slide-toggle>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="date">
        <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header>
          {{'EVENT.DATE' | translate}} </mat-header-cell>
        <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row"> {{row.date}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="time">
        <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.TIME' | translate}} </mat-header-cell>
        <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row"> {{row.startTime}} - {{row.endTime }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="event">
        <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.EVENT' | translate}}
        </mat-header-cell>
        <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row"> {{row.eventName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.STATUS' | translate}} </mat-header-cell>
        <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row">
          <span *ngIf="row.detailedParticipations">{{row.numOfParticipations}} / {{row.detailedParticipations.length}}</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="critical-value">
        <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'EVENT.CRITICAL_VALUE' | translate}} </mat-header-cell>
        <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row"> {{row.criticalValue}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="actions">
        <mat-header-cell class="app-events__container__table__header-cell" *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell class="app-events__container__table__content-cell" *matCellDef="let row">
          <ng-container *ngIf="displayAdminActions">
            <mat-icon class="app-events__action" [routerLink]="row.id" color="primary">edit</mat-icon>
            <mat-icon class="app-events__action" (click)="deleteEvent($event, row.id)" color="primary">delete</mat-icon>
          </ng-container>
          <mat-icon class="app-events__action" routerLink="details/{{row.id}}" color="primary">info</mat-icon>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-spinner class="app-events__container__spinner" *ngIf="!eventsDataSource"></mat-spinner>
  </div>
</div>

<!-- test pushing to BitBucket-->
