@import "../../../../styles/toolkit/variables.scss";
.app-events {
  position: relative;
  padding: 14px 8px;
  /* to leave space to the back button */
  &__event {
    &__error {
      color:$tc-color-error;
      margin-right:0.5rem;
    }
    &__success {
      color:$tc-color-success;
      margin-right:0.5rem;
    }
    &__members {
      min-width:178px!important;
      &__values {
        display:flex;
        align-items:center;
      }
      // margin-left:1rem;
      &__min,
      &__max,
      &__actual,
      &__seperator {
        width: 30px;
        display: inline-block;
        text-align: center;
      }
      &__actual {
        width: 50px;
      }
      &__seperator {
        width: 5px;
      }
    }
  }
  &__action {
    cursor: pointer;
    margin: 0px 8px;
  }
  &__add {
    color: white;
    margin-left: 1rem;
    font-size: $tc-font-size-h3;
  }
  &__back {
    position: absolute;
    top: 0px;
    left: 0px;
    color: $primary-color;
    font-weight: $tc-font-weight-4;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    &__title {
      color: $tc-color-gray-shade-6;
      font-weight: $tc-font-weight-4;
      display: flex;
      align-items: center;
      /* to allign the title (events) with the history icon */
      &__text {
        margin-right: 15px;
        /* a space to seperate the title from the history icon */
      }
    }
  }
  &__filter {
    min-width: 200px;
    width: 50%;
  }
  &__container {
    overflow-x: auto;
    &__table {
      overflow-x: auto;
      min-width: 500px;
      &__header-cell {
        font-weight: $tc-font-weight-6;
        font-size: $tc-font-size-h5;
      }
      &__header-cell,
      &__content-cell {
        word-wrap: unset;
        text-overflow: ellipsis;
      }
    }
    &__accordion {
      display:none;
      &__expandable-item {
        &__expanded-content {
          display: flex;
          &__actions {
            display:flex;
            justify-content: space-between;
          }
        }
        &__divider {
          margin: 0.5rem 0rem;

        }
        &__title {
          width:25%!important;
        }
        &__error, &__success {
        margin-bottom:2px;
         margin-left:2px;
        }
        &__delete-button , &__edit-button  {
          color:white;
        }
        &__delete-button {
          background-color:$tc-color-error;
        }
        /deep/.mat-expansion-panel-header-title, .mat-expansion-panel-header-description{
          align-items:center;
        }

        /deep/.mat-expansion-panel-body{
          padding-bottom:0.5rem!important;
        }
        /deep/.mat-checked.mat-disabled .mat-slide-toggle-bar {
          background-color: $primary-color;
        }
        /deep/.mat-expansion-panel-header-title{
          width:40%;
        }
      }
    }
    &__spinner {
      margin: 50px auto;
    }
  }
}

@media only screen and (max-width: 720px) {
    .app-events {
      &__header {
        flex-direction: column;
      }
      &__filter {
        width: 100%;
      }
      &__container {
        &__table {
          display: none;
        }
        &__accordion {
          display: block;
        }
      }
    }

}

