

<div class="dialog" *ngIf="!windowClicked" (window:click)="windowClicked = true">

    <div class="dialog-content">
        <div class="dialog-header p-bg">
            ***{{windowClicked}} ***
            {{confirmHeader | translate}}
        </div>
        <div class="dialog-body p-3">
            <p> {{confirmMessage | translate}}</p>
            <div class="m-auto text-center">
                <button class="btn button" (click)="confirmResponse.emit(true)"> {{'OK' | translate}}</button>
                <button class="btn btn-light mx-1" (click)="confirmResponse.emit(false)"> {{'CANCEL' | translate}}</button>
            </div>
        </div>
    </div>
</div>
