<div class="app-under-maintenance business-page">
  <div class="app-under-maintenance__wrapper">
    <div>
      <div class="app-under-maintenance__wrapper__title"> {{"UNDER_MAINTENANCE.SORRY" | translate}}
      </div>
    </div>
    <div>
      <img class="app-under-maintenance__wrapper__img" width="250" alt="under maintenance" src="../../../../assets/img/under-construction-icon-pack.png">
    </div>
    <div class="app-under-maintenance__wrapper__message">
      {{"UNDER_MAINTENANCE.DOWN_FOR_MAINTENANCE" | translate}} {{"UNDER_MAINTENANCE.BACK_WITH_IMPROVEMENTS" | translate}}
      <div class="app-under-maintenance__wrapper__message" >
        {{"UNDER_MAINTENANCE.APPOLOGIZE" | translate}}
      </div>
      <div class="app-under-maintenance__wrapper__message" >
        {{"UNDER_MAINTENANCE.THANKS" | translate}}
      </div>
    </div>
    <button (click)="goToPreviousPage()" mat-raised-button color="primary" class="app-under-maintenance__wrapper__button">{{"PAGE_NOT_FOUND.GO_TO_PREVIOUS_PAGE" | translate}}</button>
    <!-- <button mat-raised-button color="primary" class="app-under-maintenance__wrapper__button" routerLink="/home"> {{"HOME.GO_TO_HOME" | translate}}</button> -->
  </div>
</div>
