<div class="app-about">
  <div>
    <div class="app-about__section">
      <h3 class="app-about__section__title">{{'MEMBER.FOUNDERS' | translate}}
      </h3>
      <div class="app-about__team__members__container">
        <div class="app-about__team__member">
          <div class="app-about__team__member__img__tobi">
          </div>
          <h2 class="app-about__team__member__header">Tobi</h2>
          <p class="app-about__section__content__text">
            Software Development
          </p>
          <a href="https://www.linkedin.com/in/tobias-trusch-042512147/">LinkedIn</a>
        </div>
        <div class="app-about__team__member">
          <div class="app-about__team__member__img__rene">
          </div>
          <h2 class="app-about__team__member__header">René</h2>
          <p class="app-about__section__content__text">
            Marketing
          </p>
          <a href="https://www.linkedin.com/in/ren%C3%A9-graf-30a7aa92/">LinkedIn</a>
        </div>


      </div>
    </div>

    <div class="app-about__section">
      <h3 class="app-about__section__title"> {{'ABOUT.SECTION1.TITLE' | translate}}
      </h3>
      <div class="app-about__section__content">
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT1' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT2' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT3' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT4' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT5' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT6' | translate}}
        </p>
      </div>

      <div class="app-about__section__content app-about__section__content--icon-wrap">
        <mat-icon (click)="openDonateWindow()" fontSet="fa" fontIcon="fa-coffee" class="app-about__section__content--icon-wrap__icon app-about__section__content--icon-wrap__icon--donate"></mat-icon>
      </div>
      <div class="app-about__section__content">
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT7' | translate}}
        </p>
      </div>
      <div class="app-about__section__content app-about__section__content--icon-wrap">
        <mat-icon (click)="openFacebookWindow()" fontSet="fa" fontIcon="fa-facebook" class="app-about__section__content--icon-wrap__icon app-about__section__content--icon-wrap__icon--facebook"></mat-icon>
      </div>
    </div>

  <!-- may be uncommented <div class="app-about__main">
    <div class="app-about__main__bottom" parallax [config]="{initialValue: -200, ratio: .2}">
    </div>
  </div> -->

    <!-- <div class="app-about__section">
      <h3 class="app-about__section__title">{{'ABOUT.SECTION2.TITLE' | translate}}</h3>
      <p class="app-about__section__content">
        {{'ABOUT.SECTION2.TEXT' | translate}}
      </p>
    </div> -->
    <!-- <div class="app-about__section">
      <h3 class="app-about__section__title"> {{'ABOUT.SECTION3.TITLE' | translate}}</h3>
      <div class="app-about__section__content">
        {{'ABOUT.SECTION3.TEXT' | translate}}
        <a href="https://paypal.me/teamdotcenter/3" target="_blank">
          <mat-icon class="app-about__team__heading__icon">coffee</mat-icon>
        </a>
        <div> {{'ABOUT.SECTION3.TEXT2' | translate}}</div>
      </div>
    </div> -->
    <div class="app-about__section">
      <h3 class="app-about__section__title"> {{'ABOUT.SECTION2.TITLE' | translate}}</h3>
      <div class="app-about__section__content">
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT1' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT2' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT3' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT4' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT5' | translate}}</div>
      </div>
    </div>

  </div>
    <!-- <div class="app-about__section">
      {{'ABOUT.SECTION4.TEXT4' | translate}}
    </div> -->

</div>
