<div class="app-terms-and-conditions">
  <div>
    <div class="app-terms-and-conditions__section">
      <h3 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.DATA_PRIVACY' | translate}}
      </h3>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION1.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION1.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION2.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION2.TEXT1' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION2.TEXT2' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION2.TEXT3' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION2.TEXT4' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION2.TEXT5' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION2.TEXT6' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION2.TEXT7' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION3.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION3.TEXT1' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION3.TEXT2' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION3.TEXT3' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION3.TEXT4' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION3.TEXT5' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION3.TEXT6' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION4.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION4.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION5.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION5.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION6.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION6.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION7.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION7.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION8.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION8.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section__content">
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT1' | translate}}</p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT2' | translate}}<a href="https://www.privacyshield.gov/participant?id=a2zt000000001L5AAI&status=Active"
          class="app-terms-and-conditions__section__content__link">
          {{'DATA_PRIVACY.SECTION9.LINK1' | translate}}</a>
      </p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT3' | translate}}</p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT4' | translate}}</p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT5' | translate}}<a href="http://tools.google.com/dlpage/gaoptout?hl=de" class="app-terms-and-conditions__section__content__link">
          {{'DATA_PRIVACY.SECTION9.LINK2' | translate}}</a>
      </p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT6' | translate}}
        <a href="https://policies.google.com/technologies/ads" class="app-terms-and-conditions__section__content__link">
          {{'DATA_PRIVACY.SECTION9.LINK3' | translate}}
        </a>
      </p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT7' | translate}}
        <a href="https://adssettings.google.com/authenticated" class="app-terms-and-conditions__section__content__link">
          {{'DATA_PRIVACY.SECTION9.LINK4' | translate}}
        </a>
      </p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT8' | translate}}
      </p>
      <p class="app-terms-and-conditions__section__content__text">
        {{'DATA_PRIVACY.SECTION9.TEXT9' | translate}}
      </p>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION10.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION10.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION11.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION11.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION12.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION12.TEXT1' | translate}}
        </p>
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION12.TEXT2' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'DATA_PRIVACY.SECTION13.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION13.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'DATA_PRIVACY.SECTION14.TEXT1' | translate}}
        </p>
      </div>
    </div>
  </div>
</div>