<div class="app-member-statistics-details">
  <div class="app-member-statistics-details__back" routerLink="../../">
    <mat-icon color="primary">chevron_left</mat-icon>
    {{'BACK'| translate}}
  </div>
  <h3 class="app-member-statistics-details__header">{{'MEMBER.MEMBER' | translate}} {{'DETAILS' | translate}}
  </h3>
  <div class="app-member-statistics-details__container">
    <!-- Participation Table -->
    <div class="app-member-statistics-details__container__table">
      <h4 class="app-member-statistics-details__container__table__header">All Participations from {{dateRange.dateFrom}} to {{dateRange.dateTo}} </h4>

    <div style="margin: 1rem 0rem;"> Member: {{member}}</div>

    <div style="margin: 1rem 0rem;"> eMail: {{email}}</div>

      <mat-table [dataSource]="memberStatisticsDetailsDatasource">
        <ng-container matColumnDef="date">
          <mat-header-cell class="app-member-statistics-details__container__table__header-cell" *matHeaderCellDef> {{'EVENT.DATE' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.date}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="eventName">
          <mat-header-cell class="app-member-statistics-details__container__table__header-cell" *matHeaderCellDef> {{'EVENT.EVENT' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.eventName}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="time">
          <mat-header-cell class="app-member-statistics-details__container__table__header-cell" *matHeaderCellDef> {{'EVENT.TIME' | translate}} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.startTime | stringNormalizer:timeFormat}} {{row.endTime | stringNormalizer:timeFormat}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell class="app-member-statistics-details__container__table__header-cell app-member-statistics-details__item__members" *matHeaderCellDef mat-sort-header>
          {{'EVENT.PARTICIPATION_STATUS' | translate}} </mat-header-cell>
          <mat-cell class="app-member-statistics-details__container__table__content-cell app-member-statistics-details__item__members" *matCellDef="let row">
            <!-- <span *ngIf="row.detailedParticipations">{{row.numOfParticipations}} / {{row.detailedParticipations.length}}</span> -->
            <div>
              <div style="width: 24px; display:inline-block;"></div>
              <div *ngIf="row.minCriticalValue" class="app-member-statistics-details__item__members__min">
                {{'EVENT.MIN' | translate}} </div>
              <div class="app-member-statistics-details__item__members__seperator"></div>
              <div class="app-member-statistics-details__item__members__actual">{{'EVENT.ACTUAL' | translate}}</div>
              <div class="app-member-statistics-details__item__members__seperator"> </div>
              <div class="app-member-statistics-details__item__members__max"> {{'EVENT.MAX' | translate}}</div>
            </div>
            <div class="app-member-statistics-details__item__members__values">
              <mat-icon class="app-member-statistics-details__item__error" *ngIf="(row.minCriticalValue && row.minCriticalValue > row.numOfParticipations) || (row.maxCriticalValue && row.maxCriticalValue < row.numOfParticipations); else success">error</mat-icon>
              <div>
                <ng-template #success>
                  <mat-icon class="app-member-statistics-details__item__success">check_circle</mat-icon>
                </ng-template>
                <div *ngIf="row.minCriticalValue" class="app-member-statistics-details__item__members__min">[ {{row.minCriticalValue}}
                  <span> </span>
                </div>
                <div *ngIf="row.minCriticalValue" class="app-member-statistics-details__item__members__seperator">
                  - </div>

                <div class="app-member-statistics-details__item__members__actual"> {{row.minCriticalValue ? "" : "("}} {{row.numOfParticipations}} {{row.maxCriticalValue ? "" : ")"}}</div>
                <div *ngIf="row.maxCriticalValue" class="app-member-statistics-details__item__members__seperator">
                  -
                </div>
                <div *ngIf="row.maxCriticalValue" class="app-member-statistics-details__item__members__max">
                  {{row.maxCriticalValue}} ]</div>
              </div>
            </div>

          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-paginator #paginator length="100" (page)="getDataForSelectedPage($event)" [pageSize]="20" >
      </mat-paginator>
    </div>
  </div>
  <mat-spinner class="app-member-statistics-details__container__spinner" *ngIf="!memberStatisticsDetailsDatasource"></mat-spinner>
</div>
