@import "../../../../styles/toolkit/variables.scss";
.app-member-statistics-details {
  color: $tc-color-gray-shade-6;
  padding: 30px 8px;
  /* to leave space to the back button */
  position: relative;
  &__item {
    &__error {
      color:$tc-color-error;
      margin-right:0.5rem;
    }
    &__success {
      color:$tc-color-success;
      margin-right:0.5rem;
    }
    &__members {
      min-width:178px!important;
      &__values {
        display:flex;
        align-items:center;
      }
      // margin-left:1rem;
      &__min,
      &__max,
      &__actual,
      &__seperator {
        width: 30px;
        display: inline-block;
        text-align: center;
      }
      &__actual {
        width: 50px;
      }
      &__seperator {
        width: 5px;
      }
    }
  }
  &__back {
    position: absolute;
    top: 0px;
    left: 0px;
    color: $primary-color;
    font-weight: $tc-font-weight-4;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
 /* &__container {
    overflow-x: auto;
    &__table {
      overflow-x: auto;
      &__header-cell, &__content-cell {
        word-wrap: unset;
        text-overflow: ellipsis;
        &.mat-column-action {
          display: flex;
          align-items: center;
           justify-content: space-evenly;
        }
      }
    }
  }*/
  &__container {
    display: flex;
    flex-wrap: wrap;
    &__table {
      flex-grow: 1;
      padding: 2rem 0;
      /* adds space between tables when they stack on top of each other (on small devices) */
      &__filter {
        min-width: 200px;
        width: 50%;
      }
      &__header {
        font-weight: $tc-font-weight-6;
        font-size: $tc-font-size-h5;
      }
      &__header-cell {
        font-weight: $tc-font-weight-6;
        font-size: $tc-font-size-h5;
      }
    }
    &__spinner {
      margin: 50px auto;
    }
  }
  &__header {
    color: $tc-color-gray-shade-6;
    font-weight: $tc-font-weight-4;
  }
}
