<div class="app-about">
  <div>
    <div class="app-about__section">
      <h3 class="app-about__section__title"> {{'ABOUT.SECTION1.TITLE' | translate}}
      </h3>
      <div class="app-about__section__content">
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT1' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT2' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT3' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT4' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT5' | translate}}
        </p>
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT6' | translate}}
        </p>
      </div>

      <div class="app-about__section__content app-about__section__content--icon-wrap">
        <mat-icon (click)="openDonateWindow()" fontSet="fa" fontIcon="fa-coffee" class="app-about__section__content--icon-wrap__icon app-about__section__content--icon-wrap__icon--donate"></mat-icon>
      </div>
      <div class="app-about__section__content">
        <p class="app-about__section__content__text">
          {{'ABOUT.SECTION1.TEXT7' | translate}}
        </p>
      </div>
      <div class="app-about__section__content app-about__section__content--icon-wrap">
        <mat-icon (click)="openFacebookWindow()" fontSet="fa" fontIcon="fa-facebook" class="app-about__section__content--icon-wrap__icon app-about__section__content--icon-wrap__icon--facebook"></mat-icon>
      </div>
    </div>
  </div>
  <!-- may be uncommented <div class="app-about__main">
    <div class="app-about__main__bottom" parallax [config]="{initialValue: -200, ratio: .2}">
    </div>
  </div> -->
  <!-- <div class="app-about__team">
    <h1 class="app-about__team__heading">
      <mat-icon class="app-about__team__heading__icon">group</mat-icon>
      <span class="app-about__team__heading__text"> {{'MEMBER.OUR_MEMBERS' | translate}}
      </span>
    </h1>
    <div class="app-about__team__members__container">
      <div class="app-about__team__member">
        <div class="app-about__team__member__img">
        </div>
        <h2 class="app-about__team__member__header"> Team Member Name 1 </h2>
        <p>
          description of team role likewise it humanity raillery an unpacked as he. Three chief merit no if. Now how her edward engage
          not horses.
        </p>
      </div>
      <div class="app-about__team__member">
        <div class="app-about__team__member__img">
        </div>
        <h2 class="app-about__team__member__header"> Team Member Name 2</h2>
        <p>
          Answer misery adieus add wooded how nay men before though. Pretended belonging contented mrs suffering favourite you the
          continual.
        </p>
      </div>
      <div class="app-about__team__member">
        <div class="app-about__team__member__img">
        </div>

        <h2 class="app-about__team__member__header"> Team Member Name 3</h2>
        <p>Ecstatic followed handsome drawings entirely mrs one yet outweigh. Of acceptance insipidity remarkably is invitation</p>
      </div>
      <div class="app-about__team__member">
        <div class="app-about__team__member__img">
        </div>

        <h2 class="app-about__team__member__header"> Team Member Name 4</h2>
        <p> e offending he daughters on or. Rejoiced prospect yet material servants out answered men admitted. Sportsmen certainty
          prevailed suspected am as. Add stairs admire all answer the nearer.</p>
      </div>
      <div class="app-about__team__member">
        <div class="app-about__team__member__img">
        </div>

        <h2 class="app-about__team__member__header"> Team Member Name 5 </h2>
        <p>some random text to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by
          handsome admitted.</p>
      </div>
      <div class="app-about__team__member">
        <div class="app-about__team__member__img">
        </div>
        <h2 class="app-about__team__member__header"> Team Member Name 6 </h2>
        <p>jection to or up conviction uncommonly delightful continuing. In appetite ecstatic opinions hastened by handsome
          admitted.
        </p>
      </div>
    </div>
  </div> -->

    <!-- <div class="app-about__section">
      <h3 class="app-about__section__title">{{'ABOUT.SECTION2.TITLE' | translate}}</h3>
      <p class="app-about__section__content">
        {{'ABOUT.SECTION2.TEXT' | translate}}
      </p>
    </div> -->
    <!-- <div class="app-about__section">
      <h3 class="app-about__section__title"> {{'ABOUT.SECTION3.TITLE' | translate}}</h3>
      <div class="app-about__section__content">
        {{'ABOUT.SECTION3.TEXT' | translate}}
        <a href="https://paypal.me/teamdotcenter/3" target="_blank">
          <mat-icon class="app-about__team__heading__icon">coffee</mat-icon>
        </a>
        <div> {{'ABOUT.SECTION3.TEXT2' | translate}}</div>
      </div>
    </div> -->
    <div class="app-about__section">
      <h3 class="app-about__section__title"> {{'ABOUT.SECTION2.TITLE' | translate}}</h3>
      <div class="app-about__section__content">
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT1' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT2' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT3' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT4' | translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-about__section__content__text">{{'ABOUT.SECTION2.TEXT5' | translate}}</div>
      </div>
    </div>
    <!-- <div class="app-about__section">
      {{'ABOUT.SECTION4.TEXT4' | translate}}
    </div> -->

</div>
