<mat-card class="app-login">
  <mat-card-title class="text-center">{{ 'LOGIN.LOGIN' | translate }} </mat-card-title>
  <mat-card-content>
    <form novalidate #loginForm="ngForm"  class="app-login__content" [ngClass]="{'app-login__content__hide': displaySpinner}">
      <mat-form-field class="app-login__content__field">
        <input matInput placeholder="{{ 'USER.EMAIL' | translate }}" ngModel #userEmail="ngModel" name="userEmail" required email type="text">
        <mat-icon class="app-login__content__field__icon" matPrefix>email</mat-icon>
        <mat-error *ngIf="userEmail.invalid"> {{'USER.EMAIL' | translate}} {{ 'FORM.IS_REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <mat-form-field class="app-login__content__field">
        <input matInput placeholder="{{ 'LOGIN.PASSWORD' | translate }}" ngModel #userPassword="ngModel" name="userPassword" required
          type="password">
        <mat-icon class="app-login__content__field__icon" matPrefix> lock</mat-icon>
        <mat-error *ngIf="userPassword.invalid"> {{'LOGIN.PASSWORD'| translate}} {{ 'REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="app-login__content__button" [disabled]="loginForm.invalid" (click)="login(loginForm.value)">{{ 'LOGIN.LOGIN' | translate }}</button>
    </form>
  </mat-card-content>
  <mat-spinner class="app-login__spinner" [ngClass]="{'app-login__spinner__hide': !displaySpinner }"></mat-spinner>
</mat-card>
