@import "../../../styles/toolkit/variables.scss";
.app-events {
  padding: 5% 10%;
  &__action {
    cursor: pointer;
  }
  &__back {
    color: $primary-color;
    font-weight: $tc-font-weight-4;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      color: $tc-color-gray-shade-6;
      font-weight: $tc-font-weight-4;
      display: flex;
      align-items: center;
      &__text {
        margin-right: 15px;
      }
    }
  }
  &__filter {
    width: 50%;
  }
  &__container {
    overflow-x: auto;
    &__table {
      min-width: 640px;
      overflow-x: auto;
      &__cell-header {
        font-weight: $tc-font-weight-6;
        font-size: $tc-font-size-h5;
      }
    }
  }
}
