@import "../../../../styles/toolkit/variables.scss";
@import "../../../../styles/toolkit/elements.scss";

.app-header {
  z-index: 1;
  padding: 0px;
  padding-left: 16px;
  justify-content: space-around;
  flex-wrap: wrap;
  height: $header-bar-height;
  box-sizing: border-box;
  top: 0px;
  position: fixed;
  &__logo {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    &__icon {
      background: url('../../../../assets/img/core/logo.png') 50% 50% no-repeat;
      background-size: contain;
      width: 20px;
      margin-right: 10px;
      height: 20px;
    }
    &__text {
      font-family: 'Baloo Thambi', cursive;
      font-size: 30px;
    }
  }
  &__menu {
    margin-left: auto;
    &__item {
      float: left;
      transition: background-color .3s;
      font-size: 1rem;
      padding: 16px 15px;
      cursor: pointer;
      &:hover {
        background-color: rgba(235, 235, 235, 0.8);
        color: $tc-color-gray-shade-6;
      }
      &:last-child {
        padding-right: 2rem;
      }
     &__arrow-icon{
       position: absolute;
       right: 5px;
       top: 20px;
     }
    }
  }
}

@media only screen and (max-width: 540px) {
  .app-header {
    height: 80px;
    justify-content: space-between;
    &__menu__item{
      padding: 8px 15px;
    }
  }
}

