<mat-toolbar color="primary" class="app-header text-white">
  <div class="app-header__logo"  routerLink="home">
    <span class="app-header__logo__icon"></span>
    <div class="app-header__logo__text">team.center</div>
  </div>
  <ul class="app-header__menu">
    <li class="app-header__menu__item"  routerLink="auth/register">Register</li>
    <li class="app-header__menu__item" routerLink="auth/login">Login</li>
    <li class="app-header__menu__item">About</li>
    <li class="app-header__menu__item pr-2" mat-button [matMenuTriggerFor]="menu">Lang
          <mat-icon class="app-header__menu__item__arrow-icon">keyboard_arrow_down</mat-icon>
      <mat-menu #langMenu="matMenu">
        <button mat-menu-item>German</button>
        <button mat-menu-item>English</button>
      </mat-menu>

    </li>
  </ul>
</mat-toolbar>
