@import "../../styles/toolkit/variables.scss";

.app-contact-form {
  max-width: 700px;
  min-width: 200px;
  margin: 7rem auto;
  &__back {
    color: $primary-color;
    font-weight: $tc-font-weight-4;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__title {
    color: $tc-color-gray-shade-6;
    text-align: center;
  }
  &__field {
    width: 100%;
    line-height: 1.5;
    margin-top:1rem;
    &__icon {
      margin-right: 5px;
    }
  }
  &__button {
    margin-top: 2.2rem;
    color: white;
  }
}
