@import "../../../styles/toolkit/variables.scss";
.app-member-activation-form {
  width: 80%;
  max-width: 500px;
  min-width: 200px;
  margin: 7rem auto;
  min-height: 242px;
  text-align: center;
  &__title {
    color: $tc-color-gray-shade-6;
    text-align: center;
  }
  &__field {
    width: 100%;
    line-height: 1.5;
    margin-top:1rem;
    &__icon {
      margin-right: 5px;
    }
  }
  &__button {
    margin-top: 2.2rem;
    color: white;
  }
}
