@import "../../styles/toolkit/variables.scss";

.app-home {
  &__main {
    &__top,
    &__bottom {
      background-attachment: fixed;
      background-size: cover;
      min-height: 650px;
    }
    &__top {
      background: url('../../assets/img/squash_light-min2.jpg') no-repeat center fixed;
      background-size: auto;
      align-items: center;
      &__register {
        background-color:white;
        position: relative;
        width: 90%;
        height: 150px;
        margin: 5px auto;
        margin-top: 50px;
        max-width: 500px;
        padding: 10px 20px;
        box-sizing: border-box;
        opacity: 0.85;
        &__title {
          font-weight: 400;
          align-items: center;

        }
        &__main-input-field {
          margin-top: 2rem;
        }
        &__action-btn {
          position: absolute;
          right: 20px;
          top: 0;
          bottom: 0;
          margin: auto;
          color: white;
        }
      }
      &__logo {
        background: url('../../assets/img/core/tc_orange_font_flat_NoBG.png') no-repeat center;
        background-size: contain;
        width: 250px;
        height: 45px;
        position: relative;
        margin: 0 auto;
        padding-top: 100px;
      }
      @media only screen and (max-width: 720px) {
        &__logo {
          background-image:none;
           padding-top: 20px;
        }
      }
      &__text{
        color: $footer-primary-color;
        text-shadow: 0em 0em 0.0em $footer-primary-color;

        text-align: center;
      }
    }
    @media only screen and (max-width: 720px) {
      &__top{
        background: url('../../assets/img/squash_light-min2.jpg') no-repeat center fixed;
        background-size: 1500px auto;
        background-position: center !important;
      }
    }

    &__middle {
      background-attachment: fixed;
      background-size:cover !important;
      min-height: 650px;
      background: url('../../assets/img/View_Responsive_2300.jpg') no-repeat center fixed;
    }
    @media only screen and (max-width: 720px) {
      &__middle{
        background: url('../../assets/img/View_Responsive_2300.jpg') no-repeat center;
        background-size: 450px auto;
        min-height: 250px;
        background-position: center !important;
      }
    }

    &__bottom {
      background: url('../../assets/img/basketball3.jpg') no-repeat center fixed;
    }

    @media only screen and (max-width: 720px) {
      &__bottom{
        background: url('../../assets/img/basketball3.jpg') no-repeat center;
        background-size: 450px auto;
        min-height: 250px;
        background-position: center !important;
      }
    }
  }
  &__info {
    background-color: $tc-color-gray-tint-1;
    padding: 2.2rem 0;
    &__title {
      text-align: center;
      font-weight: 400;
      font-size: $tc-font-size-h2;
    }
    &__sections__container {
      justify-content: center; // space-around;
      display: flex;
      flex-flow: row wrap;
    }
    &__section {
      text-align:center;
      width: 25%;
      padding:1%;
      min-width: 250px; // supporting small devices
      &__header {
        width: 50%;
        margin: 0 auto;
        font-size: $tc-font-size-h3;
        font-weight: 400;
        margin-bottom: 0.6em;
      }
      &__text {
        font-size: $tc-font-size-h4;
        // weird bug same value 1.3rem but did not work $tc-font-size-body;
      }
      &__logo {
        background: url('../../assets/img/core/tc_orange.png') no-repeat center;
        background-size: contain;
        height: 60px;
        width: 60px;
        margin: 0 auto;
        padding-top: 20px;
      }
      &__icon {
        .mat-icon {
          font-size: $tc-font-size-h1;
          margin-right: 2rem;
          color: $primary-color;
          }
      }
    }
  }
}
