<div class="app-home">
  <div class="app-home__main">
    <div class="app-home__main__top"  parallax [config]="{initialValue: -100, ratio: .1}">>
  
      <!-- <div class="app-home__main__top__text">
        <h2>{{'MERCHANT_AFFILIATE_INFO1' | translate}}</h2>
      </div> -->
      <!-- <div class="app-home__main__top__text">
          <h3>{{'MERCHANT_AFFILIATE_INFO2' | translate}}</h3>
      </div> -->
      <div class="app-home__main">
          <div class="app-home__main__top__register">
    
              <h3 class="app-home__main__top__register__title"> Login to Start Collaborating! </h3>
          
              <button mat-mini-fab color="primary" class="app-home__main__top__register__action-btn" (click)="navigateToRegisterPage(teamName.value)">
                  <a   style="text-decoration: none; color: black;" href="http://launchpad.rocketinfra.com/oauth/authorize/?response_type=code&client_id=LDMoVlUYyi8OXZBX2964hO4CwWscswl1pvvxHlW0&redirect_uri=http://localhost:5000/activation" >{{ 'LOGIN.LOGIN' | translate }}</a>
              </button>
            </div>
      </div>

    </div>
  </div>



  <div class="app-home__info">
    <div class="app-home__info__sections__container">
   

      <div class="app-home__info__section">
        <div class="app-home__info__section__icon">
            <img class="app-mail-activation__wrapper__img" width="50" alt="dropped coffee" src="../../assets/img/collaborate.png">
        </div>
        <h2 class="app-home__info__section__header">Collaborate </h2>
        <p class="app-home__info__section__text">{{'HOME.ADV3.TEXT' | translate}}</p>
      </div>


      <div class="app-home__info__section">

          <div class="app-home__info__section__icon">
              <img class="app-mail-activation__wrapper__img" width="50" alt="dropped coffee" src="../../assets/img/gift.png">
          </div>
  
          <h2 class="app-home__info__section__header"> Share Gifts</h2>
          <p class="app-home__info__section__text">{{'HOME.ADV6.TEXT' | translate}}</p>
        </div>

      <div class="app-home__info__section">
        <div class="app-home__info__section__icon">
            <img class="app-mail-activation__wrapper__img" width="50" alt="dropped coffee" src="../../assets/img/customer.png">
        </div>

        <h2 class="app-home__info__section__header"> Share Customers</h2>
        <p class="app-home__info__section__text">{{'HOME.ADV4.TEXT' | translate}}</p>
      </div>

    </div>
  </div>


</div>
