<div class="app-event-form">
  <mat-card>
    <div class="app-event-form__back" routerLink="../">
      <mat-icon color="primary">chevron_left</mat-icon>
      {{'BACK'| translate}}
    </div>
    <mat-card-title class="app-event-form__title">{{ (eventId ? 'EVENT.EDIT_EVENT' : 'EVENT.CREATE_EVENT') | translate }} </mat-card-title>
    <mat-card-content *ngIf="eventGroup">
      <form novalidate [formGroup]="eventGroup" (ngSubmit)="save(eventGroup.value)" novalidate>
        <div class="app-event-form__fields-wrapper ">
          <mat-form-field class="app-event-form__field">
            <input matInput placeholder="{{ 'EVENT.EVENT_NAME' | translate }}" formControlName="eventName" required type="text">
            <mat-error *ngIf="eventGroup.controls['eventName'].invalid"> {{ 'EVENT.EVENT_NAME' | translate }} {{'IS_REQUIRED' | translate}} </mat-error>
          </mat-form-field>
          <mat-form-field class="app-event-form__field">
            <input matInput [matDatepicker]="picker" placeholder="{{ 'EVENT.EVENT_DATE' | translate }}" formControlName="date" required>
            <mat-icon color="primary" class="app-event-form__field__icon" matPrefix>date</mat-icon>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div formGroupName="eventTiming">
          <div class="app-event-form__fields-wrapper">
            <mat-form-field class="app-event-form__field">
              <input matInput placeholder="{{ 'EVENT.START_TIME' | translate }}" formControlName="startTime" required type="time">
              <mat-icon color="primary" class="app-event-form__field__icon" matPrefix>query_builder</mat-icon>
              <mat-error *ngIf="eventGroup.controls['eventTiming'].controls['startTime'].invalid"> {{'EVENT.START_TIME' | translate}} {{ 'IS_REQUIRED' | translate }}</mat-error>
            </mat-form-field>
            <mat-form-field class="app-event-form__field">
              <input matInput placeholder="{{ 'EVENT.END_TIME'| translate }}" formControlName="endTime" required type="time">
              <mat-icon color="primary" class="app-event-form__field__icon" matPrefix> query_builder</mat-icon>
              <mat-error *ngIf="eventGroup.controls['eventTiming'].controls['endTime'].invalid"> {{'EVENT.END_TIME' | translate}} {{ 'IS_REQUIRED' | translate }}</mat-error>
            </mat-form-field>
          </div>
          <!-- <mat-error *ngIf="eventTimingGroup.invalid && eventId || (eventTimingGroup.controls['endTime'].dirty &&  eventTimingGroup.controls['startTime'].dirty)"> -->
          <mat-error *ngIf="eventGroup.controls['eventTiming'].invalid && (!eventGroup.controls['eventTiming'].controls['endTime'].invalid &&  !eventGroup.controls['eventTiming'].controls['startTime'].invalid)">
            {{'EVENT.END_SHOULD_BE_AFTER_START' | translate}}
          </mat-error>
        </div>
        <mat-form-field class="app-event-form__field">
          <input matInput placeholder="{{'EVENT.LOCATION'| translate}}" formControlName="location" required type="text">
          <mat-icon color="primary" class="app-event-form__field__icon" matPrefix> room</mat-icon>
          <mat-error *ngIf="eventGroup.controls['location'].invalid"> {{'EVENT.LOCATION'| translate}} {{ 'IS_REQUIRED' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="app-event-form__field">
          <mat-select formControlName="type" required>
            <mat-option value="0">{{'EVENT.CANCELATION_EVENT'| translate}}</mat-option>
            <mat-option value="1">{{'EVENT.PARTICIPATION_EVENT'| translate}} </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="app-event-form__field">
          <input matInput placeholder="{{'EVENT.MIN_MAX_PER_EVENT'| translate}}" formControlName="criticalValue" required type="number">
          <mat-icon color="primary" class="app-event-form__field__icon" matPrefix> shut_down</mat-icon>
          <mat-error *ngIf="eventGroup.controls['criticalValue'].invalid"> {{'EVENT.MIN_MAX_PER_EVENT'| translate}} {{ 'IS_REQUIRED' | translate }}</mat-error>
        </mat-form-field>
        <mat-form-field class="app-event-form__field">
          <input matInput placeholder="{{'EVENT.COMMENT'| translate}}" formControlName="comment" type="text">
          <mat-icon color="primary" class="app-event-form__field__icon" matPrefix> comment</mat-icon>
          <mat-error *ngIf="eventGroup.controls['comment'] .invalid"> {{'EVENT.COMMENT'| translate}} {{ 'IS_REQUIRED' | translate }}</mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" class="app-event-form__button" type="submit" [disabled]="!eventGroup.valid">{{ 'SAVE' | translate }}</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
