<div class="app-legal-notice">
  <div>
    <div class="app-legal-notice__section">
      <h3 class="app-legal-notice__section__title"> {{'LEGAL_NOTICE.LEGAL_NOTICE' | translate}}
      </h3>
    </div>
    <div class="app-legal-notice__section">
      <h4 class="app-legal-notice__section__title"> {{'LEGAL_NOTICE.SECTION1.TITLE' | translate}}</h4>
      <div class="app-legal-notice__section__content">
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION1.TEXT1' | translate}}
        </p>
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION1.TEXT1' | translate}}
        </p>
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION1.TEXT2' | translate}}
        </p>
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION1.TEXT3' | translate}}
        </p>
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION1.TEXT4' | translate}}
        </p>
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION1.TEXT5' | translate}}
        </p>
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION1.TEXT6' | translate}}
        </p>
      </div>
    </div>
    <div class="app-legal-notice__section">
      <h4 class="app-legal-notice__section__title"> {{'LEGAL_NOTICE.SECTION2.TITLE' | translate}}</h4>
      <div class="app-legal-notice__section__content">
        <p class="app-legal-notice__section__content__text">
          {{'LEGAL_NOTICE.SECTION2.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-legal-notice__section">
      <div class="app-legal-notice__section__content">
        <p class="app-legal-notice__section__content__text">
            <button mat-raised-button color="primary" class="app-legal-notice__section__button">{{ 'CONTACT.CONTACT_US' | translate }}</button>
        </p>
      </div>
    </div>
  </div>
</div>