@import "../../../../styles/toolkit/variables.scss";
.app-legal-notice {
  &__section {
    padding: 2rem 1rem;
    text-align: center;
    &:nth-child(even) {
      background-color: white;
    }
    &__title {
      font-weight:400;
      padding:1rem;
      color: $primary-color;
    }
    &__content{
      text-align:center;
      max-width: 750px;
      margin: 0 auto;
      &__text {
        padding:1rem 0;
      }
      &--icon-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    &__button {
        color: white;
    }
  }
}