<mat-form-field class="app-new-password__content__form__field">
  <input matInput placeholder="{{ 'USER.PASSWORD' | translate }}" [formControl]="passwordControl" [type]="displayPassword ? 'text' : 'password'">
  <mat-icon class="app-new-password__content__form__field__icon" matPrefix>lock</mat-icon>
  <div matSuffix class="app-new-password__content__form__field__icons-wrapper">
    <mat-icon *ngIf="passwordControl.dirty && passwordControl.invalid&&
    passwordControl.errors.validatePassword" class="app-new-password__content__form__field__icon"
      matTooltip="{{'FORM.PASSWORD_MUST_INCLUDE' | translate}}" matTooltipPosition="below">
      info </mat-icon>
    <mat-icon (click)="displayPassword = !displayPassword" fontSet="fa" fontIcon="fa-{{displayPassword ? 'eye-slash' : 'eye'}}"
      class="app-new-password__content__form__field__icon"></mat-icon>
  </div>
  <mat-error *ngIf="passwordControl.invalid">
    <span *ngIf="passwordControl.errors.required; else passwordInvalid">
      {{ 'USER.PASSWORD' | translate }} {{'FORM.IS_REQUIRED' | translate}}
    </span>
    <ng-template #passwordInvalid>
      <span *ngIf="passwordControl.errors.validatePassword">
        {{'FORM.ENTER_VALID_PASSWORD' | translate}}
      </span>
    </ng-template>
  </mat-error>
</mat-form-field>