<div class="app-members">
  <div *ngIf="!isTeamMember && !isTeamAdmin; else hasTeams">{{'ERRORS.NO_TEAMS_FOR_USER' | translate}}</div>
  <ng-template #hasTeams>
    <div class="app-members__header">
      <h3 class="app-members__header__title">
        Open Deals
        <button mat-mini-fab *ngIf="hasAdminRole" color="primary" class="app-members__action app-members__add" routerLink="add-member">
      + </button>
      </h3>
      <div>
        <mat-form-field  class="app-register__content__form__field">
          <mat-select placeholder="" value="Opend" (selectionChange)="onFilterTypeChange($event)">
             <mat-option value="Opend">Opend</mat-option>
             <mat-option value="Closed">Closed</mat-option>
             <!-- <mat-option value="3">My</mat-option> -->
           </mat-select>
         <mat-icon class="app-register__content__form__field__icon" matPrefix>person_circle</mat-icon>
       </mat-form-field>
      </div>
      <!-- <div>
        <mat-form-field>
          <mat-select [(value)]="selectedTeamId" (selectionChange)="updateMembers()">
            <mat-option *ngFor="let team of userTeams" [value]="team.teamId">
              {{ team.teamName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>
    <mat-form-field class="app-members__filter">
      <input matInput (keyup)="applyFilter($event.target.value)" [(ngModel)]="filterString" placeholder="{{'SEARCH_PLACEHOLDER' | translate}}">
    </mat-form-field>
    <div class="app-members__container">
      <mat-table class="app-members__container__table" [dataSource]="dealsDataSource" matSort>
        <ng-container acceptInvitation matColumnDef="name">
          <mat-header-cell class="app-members__container__table__header-cell" *matHeaderCellDef mat-sort-header>
            Deal Name </mat-header-cell>
          <mat-cell class="app-members__container__table__content-cell" *matCellDef="let row">
          {{row.name}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="description">
          <mat-header-cell class="app-members__container__table__header-cell" *matHeaderCellDef mat-sort-header> Deal Description
          </mat-header-cell>
          <mat-cell  *matCellDef="let row">
            <span class="app-members__container__table__content-cell">{{row.description}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="limit">
          <mat-header-cell class="app-members__container__table__header-cell" *matHeaderCellDef mat-sort-header> Deal Limit
          </mat-header-cell>
          <mat-cell  *matCellDef="let row">
            <span class="app-members__container__table__content-cell">{{row.limit}} </span>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="src_business">
          <mat-header-cell class="app-members__container__table__header-cell" *matHeaderCellDef mat-sort-header> Deal Source Business
          </mat-header-cell>
          <mat-cell  *matCellDef="let row">
            <span class="app-members__container__table__content-cell">{{row.src_business?.name}} </span>
          </mat-cell>
        </ng-container>
         <ng-container matColumnDef="action">
          <mat-header-cell class="app-members__container__table__header-cell app-members__container__table__actions-wrapper" *matHeaderCellDef mat-sort-header> </mat-header-cell>
          <mat-cell class="app-members__container__table__content-cell  app-members__container__table__actions-wrapper" *matCellDef="let row">
            <mat-icon  class="app-members__action" (click)="takeDeal(row.id)" color="primary"
            matSuffix matTooltip="{{'MEMBER.SEND_MAIL_AGAIN' | translate}}"
            matTooltipPosition="below"
            >mail</mat-icon>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>
      <mat-spinner class="app-members__container__spinner" *ngIf="!dealsDataSource"></mat-spinner>
    </div>
  </ng-template>
</div>
