/* Overwriting some of angular material design for input prefix */

::ng-deep .mat-input-prefix {
    position: relative !important;
    top: 6px !important;
}

mat-form-field.mat-focused {
    .mat-input-prefix {
        color: $primary-color-dark;
    }
}

mat-form-field.ng-invalid.ng-touched {
    .mat-input-prefix mat-icon {
        color: red;
    }
}