/* Overwriting some of angular material design for input prefix */

::ng-deep .mat-input-prefix {
    position: relative !important;
    top: 6px !important;
}

mat-form-field {
     ::ng-deep &.mat-focused {
        .mat-input-prefix {
            color: $primary-color-dark;
        }
    }
     ::ng-deep &.ng-invalid.ng-touched {
        .mat-input-prefix {
            color: $tc-color-error;
        }
    }
}