@import "./variables.scss";

/* Common Styles*/


/* Colors Section*/

.font-w-bolder {
    font-weight: 400 !important;
}

.font-s-biggest {
    font-size: $biggest-font-size;
}

.bg-white {
    background-color: white;
}

.bg-orange {
    background-color: $primary-color;
}

.bg-success {
  background-color: $tc-color-success;
}

.bg-error {
  background-color: $tc-color-error;
}

.text-white {
    color: white !important;
}


/* Positioning Section*/

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}


/* Sizing Section */

.w-100 {
    width: 100%;
}
