@import "./variables.scss";

/* Common Styles*/


/* Colors Section*/

.font-w-bolder {
    font-weight: 400 !important;
}

.font-s-biggest {
    font-size: $biggest-font-size;
}

.bg-white {
    background-color: white;
}

.bg-orange {
    background-color: #ff9800;
}

.text-white {
    color: white !important;
}


/* Positioning Section*/

.float-right {
    float: right;
}

.text-center {
    text-align: center;
}

.d-flex {
    display: flex !important; // added important to overwrite .mat-drawer-content in header bar mat-sidenav-content
}

.align-items-center {
    align-items: center;
}


/* Sizing Section */

.w-100 {
    width: 100%;
}