<div class="app-teams">
  <h3 class="app-teams__title">
   Your Giveaways
    <button mat-mini-fab color="primary" class="app-teams__action-btn app-teams__add" routerLink="/teams/create">
      +
    </button>
  </h3>
  <div class="app-teams__container">
    <mat-table class="app-teams__container__table" [dataSource]="dealsDataSource" matSort>
      <ng-container matColumnDef="teamName">
        <mat-header-cell class="app-teams__container__table__header-cell" *matHeaderCellDef mat-sort-header>
          Deal Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="teamDescription">
          <mat-header-cell class="app-teams__container__table__header-cell" *matHeaderCellDef mat-sort-header>
            Deal Description </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.description}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="teamLimit">
            <mat-header-cell class="app-teams__container__table__header-cell" *matHeaderCellDef mat-sort-header>
              Deal Limit </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.limit}} </mat-cell>
          </ng-container>
      <ng-container matColumnDef="action" *ngIf="hasAdminRole">
        <mat-header-cell class="app-teams__container__table__header-cell" *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon class="app-teams__action" (click)="deleteTeam(row.teamId)" color="primary">delete</mat-icon>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-spinner class="app-teams__container__spinner" *ngIf="!dealsDataSource"></mat-spinner>
  </div>
</div>
