<div class="app-page-not-found business-page">
  <div class="app-page-not-found__wrapper">
    <div>
      <div class="app-page-not-found__wrapper__404"> 404 </div>
    </div>
    <div class="app-page-not-found__wrapper__message">
      {{"PAGE_NOT_FOUND.MESSAGE_404" | translate}}
    </div>
    <div>
      <img class="app-page-not-found__wrapper__img" width="350" alt="dropped coffee" src="../../../../assets/img/dropped-coffee-without-background.png">
    </div>
    <button (click)="goToPreviousPage()" mat-raised-button color="primary" class="app-page-not-found__wrapper__button">{{"PAGE_NOT_FOUND.GO_TO_PREVIOUS_PAGE" | translate}}</button>
    <span routerLink="/home" mat-raised-button color="primary" class="app-page-not-found__wrapper__button"> {{"HOME.GO_TO_HOME" | translate}}</span>
  </div>
</div>
