@import "../../../../styles/toolkit/variables.scss";
i.material-icons {
  font-size: 2em;

}
@media screen and (max-width: 520px) {
  i.material-icons {
     text-align: center;
     width: 250px;
  }   
}

.app-footer {
  width: 100%;
  background-color: $footer-primary-color;
  &__material-icons {
    color:white;
    font-size: 80px !important;
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__menu {
      display: inline-block;
      width: 20%;
      padding-bottom: 1rem;
      min-width: 200px;
      font-weight: 400;
      &__item {
        color: white;
        border-radius: 14px;
        font-size: $tc-font-size-h5;
        cursor: pointer;
        max-width: 250px;
        &__cafe {
          padding: 0 16px;  
        }
        &:hover {
          background-color: rgba(235, 235, 235, 0.8);
          color: $tc-color-gray-shade-6;
        }
      }
      &__right {
        float: right;
        width: 20%;
        margin-left:16%;
        min-width: 300px;
      }
      @media screen and (max-width: 520px) {
        &__right {
          float: right;
          margin-left: 0%;
          min-width: 0px;
          width: 40%;
        }
      }
    }
    &__title {
      margin: 0.5rem 0rem;
      font-size: 14px;
      color: white;
      font-weight: bold;
    }

    @media screen and (max-width: 520px) {
      &__title {
        text-align: center;
      }    
    }

    &__donate {
      width: 20%;
      padding-bottom: 1rem;
      display: inline-block;
      min-width: 200px;
      color: white;
      &__text {
        margin: 1rem 0rem;
        font-size: $tc-font-size-h5;
        padding: 0 16px;
      }
      &__icon {
        cursor: pointer;
        font-size: 30px;
        //background: rgba(0, 0, 0, 0.4);
        border-radius: 100%;
        border: 4px solid #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
        display: table-cell;
        padding: 15px;
 
        vertical-align: middle;
        &:hover{
          box-shadow: 0 1px 10px rgba(145, 145, 145, 0.46);
        }
      }
        &__container {
          padding: 0 16px;
          width:40px;
        }
        @media screen and (max-width: 520px) {
          &__container {
            width: 67px;
            margin: auto;
          }
        }
    }
    @media screen and (max-width: 520px) {
      &__donate {
        min-width: 250px;
        text-align: center; 
      }
    }
    &__social-media {
      width: 30%;
      padding-bottom: 1rem;
      min-width: 224px;
      &__btn {
        display: flex;
        align-items: center;
        margin: 1rem auto;
        color: white;
        min-width: 140px;
        &__icon {
          margin-right: 10px;
          font-size: 1.3rem;
          &::before {
            position: relative;
            top: 4px;
          }
        }
      }
      &__facebook {
        background-color: #4267b2;
      }
      &__twitter {
        background-color: #1da1f2;
      }
    }
  }
  &__copyright {
    padding: 1rem 1rem;
    color:white;
    background-color: rgba(51, 51, 51, 0.08);
    &__text {
      padding: 0 16px;
    }
  }
}

:host {
  ::ng-deep {
    .mat-list-item {
      max-height: 30px;
      &-content {
        max-height: 30px;
      }
    }
  }
}
@media screen and (max-width: 520px) {
  :host {
    .app-footer {
      &__container {
        &__menu {
          min-width: 250px;
          padding-top: 20px;
          &__item {
            ::ng-deep .mat-list-item-content {
              justify-content: center;
            }
          }
          &__right {
            float: right;
            width: 40%;
          }
        }
      }
    }
  }
}

a:visited{
  color: white;
}
