<div class="app-footer">
  <mat-list color="primary" class="app-footer__menu font-w-bolder">
    <mat-list-item class="app-footer__menu__item"> Terms & Conditions </mat-list-item>
    <mat-list-item class="app-footer__menu__item"> About </mat-list-item>
    <mat-list-item class="app-footer__menu__item"> Impressum </mat-list-item>
    <mat-list-item class="app-footer__menu__item"> Contact </mat-list-item>
  </mat-list>
  <div class="app-footer__copyright">
    © 2018 Copyright teamcenter
  </div>
</div>
