<div class="app-footer">
  <div class="app-footer__container">
    <div>
      <mat-list color="primary" class="app-footer__container__menu">
        <div class="app-footer__container__title">{{"TEAM_CENTER" | translate}}
        </div>
        <mat-list-item class="app-footer__container__menu__item" routerLink="/about"> {{"ABOUT.ABOUT" | translate}}
        </mat-list-item>
        <mat-list-item class="app-footer__container__menu__item"> {{"FOOTER.IMPRESSUM" | translate}} </mat-list-item>
        <mat-list-item class="app-footer__container__menu__item"> {{"FOOTER.TERMS_CONDITIONS" | translate}}
        </mat-list-item>
        <mat-list-item class="app-footer__container__menu__item"> {{"FOOTER.DATA_PRIVACY" | translate}} </mat-list-item>
      </mat-list>
    </div>

    <div class="app-footer__container__donate">
      <div class="app-footer__container__title">{{"FOOTER.SUPPORT_BY_DONATING" | translate}}
      </div>
      <div class="app-footer__container__donate__action">
        <mat-icon (click)="openDonateWindow()" fontSet="fa" fontIcon="fa-coffee" class="app-footer__container__donate__action__icon"></mat-icon>
      </div>
    </div>
    <div>

      <mat-list color="primary" class="app-footer__container__menu">
        <mat-list-item class="app-footer__container__menu__item"> {{"CONTACT.CONTACT" | translate}} </mat-list-item>
        <mat-list-item class="app-footer__container__menu__item" routerLink="/about"> {{"FOOTER.FEATURES" | translate}}
        </mat-list-item>
        <mat-list-item class="app-footer__container__menu__item"> {{"TEAM.CREATE_YOUR_TEAM" | translate}}
        </mat-list-item>
      </mat-list>

    </div>
  </div>

  <div class="app-footer__copyright">
    <span class="app-footer__copyright__text">
      {{"FOOTER.COPY_RIGHT" | translate}}
    </span>
  </div>
</div>
