<div class="app-footer">
  <div class="app-footer__container">
    <div>
      <mat-list color="primary" class="app-footer__container__menu">
        <div class="app-footer__container__title">{{"TEAM_CENTER" | translate}}
        </div>
        <mat-list-item class="app-footer__container__menu__item" routerLink="/team-center/about"> {{"ABOUT.ABOUT" |
          translate}}
        </mat-list-item>
        <!-- TODO -->
        <!-- <mat-list-item class="app-footer__container__menu__item"> {{"FOOTER.IMPRESSUM" | translate}} </mat-list-item> -->
        <mat-list-item class="app-footer__container__menu__item" routerLink="/team-center/terms-and-conditions">
          {{"FOOTER.TERMS_CONDITIONS" | translate}}
        </mat-list-item>
        <mat-list-item class="app-footer__container__menu__item" routerLink="/team-center/data-privacy">
          {{"DATA_PRIVACY.DATA_PRIVACY" | translate}} </mat-list-item>
          <mat-list-item class="app-footer__container__menu__item" routerLink="/team-center/legal-notice">
            {{"LEGAL_NOTICE.LEGAL_NOTICE" | translate}} </mat-list-item>
      </mat-list>
    </div>

    <div class="app-footer__container__donate">
      <div class="app-footer__container__title">{{"FOOTER.SUPPORT_BY_DONATING" | translate}}
      </div>
      <form ngNoForm action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="N5SNHVXG46C78">
        <div class="app-footer__container__donate__action">
          <button type="submit">
            <mat-icon fontSet="fa" fontIcon="fa-coffee" class="app-footer__container__donate__action__icon"></mat-icon>
          </button>
        </div>
      </form>
    </div>
    <div>
      <mat-list color="primary" class="app-footer__container__menu">
        <mat-list-item class="app-footer__container__menu__item" routerLink="/contact"> {{"CONTACT.CONTACT_US" |
          translate}} </mat-list-item>
        <!-- TODO -->
        <!-- <mat-list-item class="app-footer__container__menu__item" routerLink="/team-center/about"> {{"FOOTER.FEATURES" |
          translate}}
        </mat-list-item> -->
        <mat-list-item class="app-footer__container__menu__item" routerLink="/auth/register"> {{"TEAM.CREATE_YOUR_TEAM"
          | translate}}
        </mat-list-item>
      </mat-list>
      <div class="footer-social-icons">
        <ul class="social-icons">
          <li><a href="https://fb.me/appteamcenter" target="_blank" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
          <!-- <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li> -->
          <!-- <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li> -->
          <li><a href="https://www.youtube.com/channel/UCwe9_-o6Um8O7SPNYCgV9Xw" target="_blank" class="social-icon">
              <i class="fa fa-youtube"></i></a></li>
          <!-- <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li> -->
          <!-- <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li> -->
        </ul>
      </div>
    </div>
  </div>


  <div class="app-footer__copyright">
    <span class="app-footer__copyright__text">
      {{"FOOTER.COPY_RIGHT" | translate}}
    </span>
  </div>
</div>