<mat-card class="app-admin-switching">
  <mat-card-title class="text-center">{{ 'USER_SWITCHING.SWITCH_TO_ADMIN' | translate }} </mat-card-title>
  <mat-card-content>
    <form novalidate #memberSwitchingForm="ngForm" [ngClass]="{'app-admin-switching__element-hide': displaySpinner}">
      <p>
        {{ 'USER_SWITCHING.SWITCHING_MSG' | translate }}
      </p>
      <mat-form-field class="app-admin-switching__field">
        <input matInput placeholder="{{ 'LOGIN.PASSWORD' | translate }}" ngModel #userPassword="ngModel" name="userPassword" required
          type="password">
        <mat-icon class="app-admin-switching__field__icon" matPrefix> lock</mat-icon>
        <mat-error *ngIf="userPassword.invalid"> {{'LOGIN.PASSWORD'| translate}} {{ 'FORM.IS_REQUIRED' | translate }}</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="app-admin-switching__button" [disabled]="memberSwitchingForm.invalid" (click)="switchToAdmin(userPassword.value)">{{ 'USER_SWITCHING.SWITCH' | translate }}</button>
    </form>
  </mat-card-content>
  <mat-spinner class="app-admin-switching__spinner" [ngClass]="{'app-admin-switching__element-hide': !displaySpinner }"></mat-spinner>
</mat-card>
