<mat-card class="app-reset">
  <mat-card-title class="app-reset__title">{{ 'RESET_PASSWORD.RESET_PASSWORD' | translate }} </mat-card-title>
  <mat-card-content class="app-reset__content">
    <form novalidate #resetForm="ngForm" (ngSubmit)="requestResetPassword(resetForm.value)" [ngClass]="{'app-reset__element-hide': displaySpinner || displayMessageCard}">
      <mat-form-field class="app-reset__content__field">
        <input matInput placeholder="{{ 'USER.EMAIL' | translate }}" ngModel #email="ngModel" name="email" required email type="text">
        <mat-icon class="app-reset__content__field__icon" matPrefix>email</mat-icon>
        <mat-error *ngIf="email.invalid">
          <span *ngIf="email.errors.required; else emailError">
            {{'USER.EMAIL' | translate}} {{ 'FORM.IS_REQUIRED' | translate }}
          </span>
          <ng-template #emailError>
            <span *ngIf="email.errors.email">
              {{'FORM.ENTER_VALID_EMAIL' | translate}}
            </span>
          </ng-template>
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" class="app-reset__content__button" [disabled]="resetForm.invalid" type="submit">{{ 'RESET_PASSWORD.SEND_RESET_PASSWORD_LINK' | translate }}</button>
    </form>
  </mat-card-content>
  <mat-spinner class="app-reset__spinner" [ngClass]="{'app-reset__element-hide': !displaySpinner }"></mat-spinner>
  <div class="app-reset__content__message" *ngIf="displayMessageCard && !displaySpinner">
    <div class="app-reset__content__resend-mail">
      {{ 'RESET_PASSWORD.RESET_PASSWORD_LINK_SENT' | translate}}
      <h3 class="app-reset__content__message__bold app-reset__content__message__vertical-spacing">{{ resetForm.controls.email.value}}</h3>
      <span class="app-reset__content__message__bold"> {{'REGISTER.EMAIL_NOT_RECEIVED' | translate}} </span>
      <span (click)="requestResetPassword(resetForm.value)" class="app-reset__content__link"> {{'RESET_PASSWORD.SEND_MAIL_AGAIN' | translate}} </span>
    </div>
    <button mat-raised-button color="primary" class="app-reset__content__button" routerLink="/auth/login">{{ 'LOGIN.GO_TO_LOGIN' | translate }}</button>
  </div>
</mat-card>
