<div class="app-terms-and-conditions">
  <div>
    <div class="app-terms-and-conditions__section">
      <h3 class="app-terms-and-conditions__section__title"> {{'TERMS_AND_CONDITIONS.TERMS_AND_CONDITIONS' | translate}}
      </h3>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'TERMS_AND_CONDITIONS.SECTION1.TITLE' | translate}}</h4>

      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'TERMS_AND_CONDITIONS.SECTION1.TEXT1' | translate}}
          <a href="http://www.team.center/team-center/terms-and-conditions" class="app-terms-and-conditions__section__content__link">
            {{'TERMS_AND_CONDITIONS.SECTION1.LINK' | translate}}</a>
          . {{'TERMS_AND_CONDITIONS.SECTION1.TEXT2' | translate}}
        </p>

      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'TERMS_AND_CONDITIONS.SECTION2.TITLE' | translate}}</h4>


      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'TERMS_AND_CONDITIONS.SECTION2.TEXT1' | translate}}
        </p>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'TERMS_AND_CONDITIONS.SECTION3.TITLE' | translate}}</h4>

      <div class="app-terms-and-conditions__section__content">
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT1' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT2' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT3' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT4' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT5' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT6' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT7' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT8' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION3.TEXT9' |
          translate}}</div>

      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'TERMS_AND_CONDITIONS.SECTION4.TITLE' | translate}}</h4>
      <div class="app-terms-and-conditions__section__content">
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION4.TEXT1' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION4.TEXT2' |
          translate}}</div>
        <mat-divider></mat-divider>
        <div class="app-terms-and-conditions__section__content__text">{{'TERMS_AND_CONDITIONS.SECTION4.TEXT3' |
          translate}}</div>
      </div>
    </div>
    <div class="app-terms-and-conditions__section">
      <h4 class="app-terms-and-conditions__section__title"> {{'TERMS_AND_CONDITIONS.SECTION5.TITLE' | translate}}</h4>


      <div class="app-terms-and-conditions__section__content">
        <p class="app-terms-and-conditions__section__content__text">
          {{'TERMS_AND_CONDITIONS.SECTION5.TEXT1' | translate}}
        </p>

      </div>

    </div>

  </div>
</div>
