@import "../../../../styles/toolkit/variables.scss";
.app-teams {
  padding: 14px 8px; /* to leave space to the back button */
  max-width: 1000px;
  margin: 0 auto;
  &__action {
    cursor: pointer;
  }
  &__title {
      color: $tc-color-gray-shade-6;
      font-weight: $tc-font-weight-4;
  }
  &__container {
    overflow-x: auto;
    &__table {
      margin-top: 2rem;
      overflow-x: auto;
      &__header-cell {
        font-weight: $tc-font-weight-6;
        font-size: $tc-font-size-h5;
        &:nth-child(2) {
          text-align: center;
        }
      }
      .mat-column-action {
        flex: unset;
        min-width: 60px;
        text-align: center;
      }
      &__team-admin {
        color: white;
        background-color: $primary-color;
      }
      /deep/.mat-chip-list-wrapper {
        flex-direction: column;
        align-items: center;
        .mat-chip {
          margin: 3px 0;
          min-width: 80px;
          justify-content: center;
          &:first-of-type {
            margin-top: 6px;
          }
          &:last-of-type {
            margin-bottom: 6px;
          }
          &:not(.mat-basic-chip) +.mat-chip:not(.mat-basic-chip) {
            margin: 3px 0;
          }
        }
      }
    }
    &__spinner {
      margin: 50px auto;
    }
  }
}


body {
  &.mobile-device {
    :host {
      .app-teams {
        &__title {
          text-align: center;
        }
        &__container {
          &__table {

          }
        }
      }
    }
  }
}
