<div class="app-teams">
  <h3 class="app-teams__title">
    {{ 'TEAM.YOUR_TEAMS' | translate}} ({{teamsDataSource && teamsDataSource.data.length}})
    <!-- to be uncommented <button mat-mini-fab *ngIf="displayAdminActions" color="primary" class="app-teams__action-btn" routerLink="new">
    + </button> -->
  </h3>
  <div class="app-teams__container">
    <mat-table class="app-teams__container__table" [dataSource]="teamsDataSource" matSort>
      <ng-container matColumnDef="teamName">
        <mat-header-cell class="app-teams__container__table__header-cell" *matHeaderCellDef mat-sort-header>
          {{'TEAM.TEAM_NAME' | translate}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.teamName}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="roles">
        <mat-header-cell class="app-teams__container__table__header-cell" *matHeaderCellDef mat-sort-header> {{'TEAM.ROLES' | translate}}
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-chip-list selectable="false">
            <mat-chip *ngFor="let role of row.roles" [ngClass]="role==='admin'? 'app-teams__container__table__team-admin' : ''">
              {{(role === 'admin' ? 'ADMIN.ADMIN' : 'MEMBER.MEMBER') | translate}}
            </mat-chip>
            <!--  add displayAdminActions to the ngIf if the user must be logged in as an admin -->
            <mat-chip *ngIf="row.roles && row.roles.length === 1 && row.roles[0] === 'admin'" routerLink="/members/list/new">
              {{ 'MEMBER.ADD_MYSELF_AS_MEMBER' | translate }}
            </mat-chip>
          </mat-chip-list>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="action" *ngIf="displayAdminActions">
        <mat-header-cell class="app-teams__container__table__header-cell" *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-icon class="app-teams__action" (click)="deleteTeam(row.teamId)" color="primary">delete</mat-icon>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
    <mat-spinner class="app-teams__container__spinner" *ngIf="!teamsDataSource"></mat-spinner>
  </div>
</div>
