

/* You can add global styles to this file, and also import other style files */


// overrrided material styles
tc-root {
  height: 100%;
  display: block;

}

.app-text-truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.business-page {
  padding: 3rem; /* was 5rem*/
}

@media only screen and (max-width: 879px) {
  .business-page {
    padding: 0.5rem;
  }
}
