

/* You can add global styles to this file, and also import other style files */


// overrrided material styles
tc-root {
  height: 100%;
  display: block;

}


.business-page {
  padding: 5rem;
}

@media only screen and (max-width: 879px) {
  .business-page {
    padding: 1rem;
  }
}
