// variables for main elements 
$header-bar-height: 64px;

// variables for common styling 
$primary-font-size: .95rem;
$secondary-font-size: 0.8571rem;
$biggest-font-size: 2.92rem;
$dark-color : #5d5f61;

/* following will be filled as per needs*/
/*
$primary-active-color: #22282f;
$secondary-color: #F7F7F9;//header
$light-color: #EEE;
$primary-button-color: #00A7D1;
$secondary-button-color: #E07426;
$primary-border-color:#bdc1c5;
$secondary-border-color:#dddfe2;
$sections-color: #d7e6e6;
$primary-field-height:2.143rem;
$error-font-color:#721c24;
//side bar
$sidebar-bg: #2d405a;
$sidebar-icon: #4f535a;
// forms
$form-bg: #ecf0f3;
$form-section-bg: #E7EFF2; // #e7efef;
$image-radius: 1.286rem;
$upload-button-color:#62bb46;
$primary-accent-color: #229FC1;*/