<div class="row">
  <nb-card class="col-12">
    <nb-card-body>Hello from merchant-affiliate sandbox project.</nb-card-body>
  </nb-card>
  <nb-card class="col-12">
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="My Giveaways" badgeText="99+" badgeStatus="danger">
          <p>List of my <strong>Giveaways</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="" badgeText="12" badgePosition="bottom right" badgeStatus="warning">
          <p>Received <strong>Giveaways</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Transactions" badgeText="new" badgePosition="top right" badgeStatus="success">
          <p>Open <strong>Deals</strong>.</p>
        </nb-tab>
        <nb-tab tabTitle="Transactions" badgeText="new" badgePosition="top right" badgeStatus="success">
            <p>My <strong>Requests</strong>.</p>
        </nb-tab>
      </nb-tabset>
    </nb-card-body>
  </nb-card>
</div>