@import "../../../../styles/toolkit/variables.scss";
.app-members {
  padding: 14px 8px; /* to leave space to the back button */
  max-width: 1000px;
  margin: 0 auto;
  &__action {
    cursor: pointer;
    &--admin-icon {
      width: 24px;
      height: 24px;
      background: url('../../../../assets/img/icons/admin_icon.png');
      background-size: contain;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }
  }
  &__add {
    color: white;
    margin-left: 1rem;
    font-size: $tc-font-size-h3;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
    &__title {
      color: $tc-color-gray-shade-6;
      font-weight: $tc-font-weight-4;
    }
  }
  &__filter {
    min-width: 200px;
    width: 50%;
  }
  &__container {
    overflow-x: auto;
    &__table {
      overflow-x: auto;
      &__actions-wrapper {
        max-width:72px;
      }
      &__header-cell {
        font-weight: $tc-font-weight-6;
        font-size: $tc-font-size-h5;
      }
      &__header-cell, &__content-cell {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &.mat-column-action {
          display: flex;
          align-items: center;
           justify-content: flex-end;
        }
      }
      &__inactive-cell {
        text-decoration: line-through;
      }
      &__unaccepted-invitation-cell {
        color: $tc-color-gray-shade-5;
      }
    }
    &__spinner {
      margin: 50px auto;
    }
  }
}

@media only screen and (max-width: 768px) {
  .app-members {
    &__header {
      flex-direction: column;
    }
    &__filter {
      width: 100%;
    }
  }
}
