@import "../../../../styles/toolkit/variables.scss";
.app-members {
  padding: 14px 8px; /* to leave space to the back button */
  max-width: 1000px;
  margin: 0 auto;
  &__action {
    cursor: pointer;
    margin: 0px 8px;
  }
  &__add {
    color: white;
    margin-left: 1rem;
    font-size: $tc-font-size-h3;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-wrap:wrap;
    &__title {
      color: $tc-color-gray-shade-6;
      font-weight: $tc-font-weight-4;
    }
  }
  &__filter {
    min-width: 200px;
    width: 50%;
  }
  &__container {
    overflow-x: auto;
    &__table {
      overflow-x: auto;
      &__header-cell {
        font-weight: $tc-font-weight-6;
        font-size: $tc-font-size-h5;
      }
      &__header-cell, &__content-cell {
        word-wrap: unset;
        text-overflow: ellipsis;
      }
      &__inactive-cell {
        text-decoration: line-through;
      }
    }
    &__spinner {
      margin: 50px auto;
    }
  }
}
