<!-- home.html -->
<!-- why to include the word app 
why not making in shorter e.g - in the last __ in the first
-->
<div class="app-home">
  <div class="app-home__main">
    <div class="app-home__main__top">
    </div>
  </div>
  <div class="app-home__info">
    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptas, quasi at facere laborum earum sint distinctio
      quos voluptate, sunt nisi magni fuga neque hic accusantium maiores odit dolorum! Delectus.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat suscipit ducimus, reprehenderit exercitationem sequi
      ratione quam doloribus, voluptas iure sapiente in tenetur voluptatem? Impedit, ad atque? Voluptas dolores est repudiandae.</div>
    <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolores, labore neque est ex vero rem deserunt illum error
      nulla. Voluptatem atque neque eaque quasi minima? Nesciunt quos amet nulla!</div>
    <div> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui voluptas, quasi at facere laborum earum sint distinctio
      quos voluptate, sunt nisi magni fuga neque hic accusantium maiores odit dolorum! Delectus.</div>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat suscipit ducimus, reprehenderit exercitationem sequi
      ratione quam doloribus, voluptas iure sapiente in tenetur voluptatem? Impedit, ad atque? Voluptas dolores est repudiandae.</div>
    <div> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta dolores, labore neque est ex vero rem deserunt illum error
      nulla. Voluptatem atque neque eaque quasi minima? Nesciunt quos amet nulla!</div>
  </div>

  <div class="app-home__main">
    <div class="app-home__main__bottom">
    </div>
  </div>
</div>


<!--      <img class="img-responsive hide-on-med-and-down parallax-pic" alt="Responsive image" src="../../assets/img/squash-793062.jpg" alt="Team Center Logo"/>
          <img class="img-responsive show-on-medium-and-down hide-on-large-only parallax-pic" alt="Responsive image" src="../../assets/img/squash-793062_m.jpg" alt="Team Center Logo"/>
  -->