@import "../../styles/toolkit/variables.scss";

.app-home {
  &__main {
    &__top,

    &__bottom {
      background-attachment: fixed;
      background-size: cover;
      min-height: 564px;
    }
    &__top {
      background: url('../../assets/img/squash-793062.jpg') no-repeat center fixed;
      // display: flex;
      align-items: center;
      &__register {
        background-color:white;
        position: relative;
        width: 90%;
        height: 60px;
        margin: 0 auto;
        margin-top: 50px;
        max-width: 500px;
        padding: 10px 20px;
        box-sizing: border-box;
        opacity: 0.85;
        &__title {
          font-weight: 400;
        }
        &__main-input-field {
          margin-top: 2rem;
        }
        &__action-btn {
          position: absolute;
          right: 20px;
          top: 0;
          bottom: 0;
          margin: auto;
          color: white;
        }
      }
      &__logo {
        background: url('../../assets/img/core/tc_no_bg.png') no-repeat center;
        background-size: contain;
        width: 250px;
        margin-right: 10px;
        height: 45px;
        margin-left: 50px;
        padding-top: 100px;
      }
      &__text{
        color: #ededed;
        margin-left: 50px;
        margin-right: 50px;
      }
    }
    &__middle {
      background-attachment: fixed;
      background-size: cover;
      min-height: 650px;
      background: url('../../assets/img/viewsResponsive.jpg') no-repeat center fixed;
    }
    &__bottom {
      background: url('../../assets/img/basketball3.jpg') no-repeat center fixed;
    }
  }
  &__info {
    background-color:white;
    padding: 2.2rem 0;
    &__title {
      text-align: center;
      font-weight: 400;
      font-size: $tc-font-size-h2;
    }
    &__sections__container {
      justify-content: center; // space-around;
      display: flex;
      flex-wrap: wrap;
      flex-flow: row wrap;
    }
    &__section {
      // remove if space-around
      text-align:center;
      padding: 2%;
      width: 25%;
      min-width: 250px; // supporting small devices
      &__header {
        width: 50%;
        margin: 0 auto;
        font-size: $tc-font-size-h3;
        font-weight: 400;
        margin-bottom: 0.6em;
      }
      &__icon {
        .mat-icon {
          font-size: $tc-font-size-h1;
          margin-right: 2rem;
          color: $dark-brown;
        }
      }
    }
  }
}
p {
  font-size: 1.3em;
}
