<div class="app-reset-password" *ngIf="!displayPageNotFound; else pageNotFound">
    <mat-card>
      <mat-card-title class="app-reset-password__title">
        {{'RESET_PASSWORD.RESET_PASSWORD' | translate}}
      </mat-card-title>
      <mat-card-content *ngIf="!displaySpinner; else spinner">
        <div *ngIf="checkResetState === State.ERROR;">
          <div class="app-reset-password__message app-reset-password__fail">
            {{ 'RESET_PASSWORD.EXPIRED_LINK_OR_INVALID' | translate}}
          </div>

        </div>
        <form novalidate *ngIf="checkResetState !== State.ERROR;" [formGroup]="resetPasswordForm" class="app-reset-password__content" (ngSubmit)="resetPassword(resetPasswordForm.value)"
          [ngClass]="{'app-reset-password__element-hide': displaySpinner}">
          <tc-new-password [passwordControl]="resetPasswordForm.controls['password']"></tc-new-password>
          <button mat-raised-button color="primary" class="app-reset-password__content__button" [disabled]="resetPasswordForm.invalid"
            type="submit">{{ 'RESET_PASSWORD.RESET_PASSWORD' | translate }}</button>
        </form>



      </mat-card-content>


      <ng-template #spinner>
        <mat-spinner class="app-reset-password__spinner"></mat-spinner>
      </ng-template>
    </mat-card>
  </div>
  <ng-template #pageNotFound>
    <tc-page-not-found> </tc-page-not-found>
  </ng-template>
